@** Definir a classe de modelo utilizada na página *@
@model SistemaContas.Presentation.Models.AccountPasswordRecoverModel

@{
    //define a página de layout que será herdada
    Layout = "~/Views/Shared/AccountLayout.cshtml";
}

<div class="row mt-5">
    <div class="col-md-4 offset-md-4">
        <div class="card">
            <div class="card-body">

                <div class="text-center">
                    <h2>Sistema Contas</h2>
                    <h5>Recuperação de Senha</h5>
                </div>

                <hr />

                <div class="text-center mb-2">
                    <strong>@TempData["Mensagem"]</strong>
                </div>

                @using(Html.BeginForm())
                {
                    <div class="mb-2">
                        <label>Entre com seu email:</label>
                        @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
                        <span class="text-danger">
                            @Html.ValidationMessageFor(model => model.Email)
                        </span>
                    </div>

                    <div class="mb-2 d-grid">
                        <input type="submit" value="Confirmar" class="btn btn-primary" />
                    </div>

                    <div class="mb-2 d-grid">
                        <a href="/Account/Login" class="btn btn-light">
                            Já possui conta? <strong>Acesse aqui!</strong>
                        </a>
                    </div>

                }

            </div>
        </div>
    </div>
</div>