<html>

<head>
    <title>Sistema Contas</title>
    <!-- folha de estilos CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
</head>

<body>

    <!-- Menu superior do layout -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary" data-bs-theme="primary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Sistema Contas</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/Account/Login">
                            Acessar Sistema
                        </a>
                    </li>   
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/Account/Register">
                            Criar Usuário
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/Account/PasswordRecover">
                            Recuperar Senha
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Área de conteúdo principal -->
    @RenderBody()

    <!-- arquivos javascript -->
    <script src="/js/bootstrap.bundle.min.js"></script>
</body>

</html>